body {
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
  background-color: #222; 
}

#banner {
  height: 100px;
  background-color: rgba(64,152,96,0.9);
  background-image: url("../images/Forest.png"), url("../images/Forest.png"), url("../images/Forest.png"), url("../images/Forest.png"), url("../images/Forest.png");
  background-position: right -90px, 60px -100px, 150px -130px, 270px -200px, 470px -200px;
  background-repeat: repeat-x;
}

#content {
  height: 100%;
}

.logoBox {
  border: 1px solid rgba(0,255,0,0.7);
  width: 100px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  position: absolute;
  top: 30px;
  left: 0.9%;
  background-color: rgba(34,139,34,0.8);
  padding: 5px;
  padding-right: 10px;
  -webkit-text-stroke: 0.1px green;
}

#separator {
  position: absolute;
  top: 18px;
  left: 130px;
  font-size: 45px;
  color: #EEE;
  text-shadow: 3px 3px 3px black;
}

.page-title {
  position: absolute;
  top: 17px;
  left: 135px;
  font-size: 40px;
  color: #EEE;
  padding: 5px;
  text-shadow: 3px 3px 3px black;
}

#main-buttons {
  position: relative;
  top: 30px;
  float: right;
  padding-right: 15px;
}

.notice-message {
  font: 45px Courier, monospace, medium;
  font-weight: normal;
  text-shadow: 2px 2px 1px forestgreen;
  color: limegreen;
}

.menu-button {
  padding-left: 5px;
  padding-right: 5px;
}

#signupBox {
  top: 100px;
  width: 600px;
  height: 300px;
  position: relative;
  left: 30%;
  background-color: #DDD;
  outline: solid;
  outline-offset: 5px;
  outline-color: limegreen;
  padding: 5px;
}

#submit {
	position: absolute;
	text-align: center;
	bottom: 32px;
	left: 50px;
	color: #999;
	outline: solid;
	outline-offset: -2px;
	outline-width: 2px;
	outline-color: #7777;
	background: #EEE;
	height: 25px;
}

#submit:hover {
    outline: none;
    color: #000;
    background-color: #EEE;
}

#signupButton {
    position: absolute;
    bottom: 0px;
    left: 50px;
}

#usernameTitle {
  padding: none;
  display: inline;
  color: forestgreen;
}

#usernameField {
  position: absolute;
  width: 87%;
  top: 35px;
  left: 50px;
}

#emailTitle {
  padding: none;
  display: inline;
  color: forestgreen;
}

#emailField {
  position: absolute;
  width: 87%;
  top: 90px;
  left: 50px;
}

#passwordTitle {
  padding: none;
  display: inline;
  color: forestgreen;
}

#passwordField {
  position: absolute;
  width: 87%;
  top: 145px;
  left: 50px;
}

#occupationTitle {
  padding: none;
  display: inline;
  color: forestgreen;
}

#occupationField {
  position: absolute;
  width: 87%;
  top: 170px;
  left: 50px;
}

#occupationList {
  width: 100%;
}

#languageTitle {
  padding: none;
  display: inline;
  color: forestgreen;
}

#languageField {
  position: absolute;
  width: 87%;
  top: 220px;
  left: 50px;
}

#languageList {
  width: 100%;
}

input[type=text] {
  width: 100%;
}

#secondary-nav-selection {
  position: relative;
  float: right;
  display: inline-block;
  top: 2px;
  background-color: #EEE;
  outline: solid;
  outline-width: 2px;
  outline-color: limegreen;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: limegreen;
}

#secondaryLink {
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
  font: 15px "Chakra Petch", sans-serif;
  color: forestgreen;
  display: inline;
}

#secondaryLink:hover {
  color: limegreen;
}

#memberLink {
  position: absolute;
  bottom: 35px;
  right: 20px;
}


#footer {
  position: relative;
}

footer {
  color: #DDD;
  text-align: center;
  left: 25%;
  font: 14px Tahoma;
  text-shadow: 2px 1px 2px lime;
}

#footer a {
  text-decoration: none;
  color: limegreen;
  text-shadow: none;
}

#footer a:hover {
  text-decoration: underline;
  color: lime;
}

#footer #first{
  border-left: none;
}

#footer li {
  display: inline;
  padding: 0 10px;
  border-left: solid 1px #DDD;
}

.missing-credential {
  position: absolute;
  font: 17px "Chakra Petch", sans-serif;
  top: 400px;
  left: 480px;
  color: green;
  text-shadow: 2px 2px 1px limegreen;
}
